<div id="<%= dom_id tenancy %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= tenancy.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Room:</strong>
    <%= tenancy.room_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= tenancy.start_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End date:</strong>
    <%= tenancy.end_date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= tenancy.comments %>
  </div>
</div>
