<div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-white-800 dark:border-gray-700">
  <div id="<%= dom_id tenancy %>" class="w-full sm:w-auto my-5 space-y-5">
    <div>
      <strong class="font-medium mb-1">User:</strong> 
      <%= tenancy.user.name %>
    </div>
    <div>
      <strong class="font-medium mb-1">Room:</strong>
      <%= tenancy.room_id %>
    </div>
    <div>
      <strong class="font-medium mb-1">Start date:</strong>
      <%= l(tenancy.start_date) %>
    </div>
    <div>
      <strong class="font-medium mb-1">End date:</strong>
      <%= l(tenancy.end_date) %>
    </div>
    <div>
      <strong class="font-medium mb-1">Comments:</strong>
      <%= tenancy.comments %>
    </div>
  </div>
</div>
