<div class="space-y-5 sm:space-y-6">
  <div class="border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
    <div class="px-5 py-4 sm:px-6 sm:py-5">
        <h1 class="text-lg font-semibold text-gray-800 dark:text-black/90">
            Tenancies
        </h1>
    </div>
    <div class="border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800">
      <div class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
        <div class="max-w-full overflow-x-auto custom-scrollbar">
          <table class="w-full min-w-[1102px]">
            <thead class="bg-gray-100">
              <tr class="border-b border-gray-100 dark:border-gray-800">
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Room</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Tenant</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Start Date</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">End Date</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Comments</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Actions</p></th>
              </tr>
            </thead>

            <tbody>
              <% @rooms.each do |room| %>
                <% latest_tenancy = room.tenancies.order(end_date: :desc).first %>
                <tr class="border-b border-gray-100 dark:border-gray-800" id="<%= latest_tenancy.nil? ? "#" : dom_id(latest_tenancy) %>">
                  <td class="px-5 py-4 sm:px-6"><%= room.is_empty? || latest_tenancy.nil? ? room.name : latest_tenancy.room&.name %></td>
                  <td class="px-5 py-4 sm:px-6"><%= room.is_empty? || latest_tenancy.nil? ? "Empty" : latest_tenancy.user&.name %></td>
                  <td class="px-5 py-4 sm:px-6"><%= room.is_empty? || latest_tenancy.nil? ? "Empty" : l(latest_tenancy.start_date) %></td>
                  <td class="px-5 py-4 sm:px-6"><%= room.is_empty? || latest_tenancy.nil? ? "Empty" : l(latest_tenancy.end_date) %></td>
                  <td class="px-5 py-4 sm:px-6"><%= room.is_empty? || latest_tenancy.nil? ? "Empty" : latest_tenancy.comments %></td>
                  <td class="px-5 py-4 sm:px-6 space-x-2">
                    <% unless latest_tenancy.nil? || latest_tenancy.room.is_empty? %>
                      <%= link_to "Show", latest_tenancy, class: "text-blue-600 hover:underline" %>
                      <%= link_to "Edit", edit_tenancy_path(latest_tenancy), class: "text-yellow-600 hover:underline" %>    
                      <%= button_to tenancy_path(latest_tenancy), method: :delete,
                        data: { turbo_confirm: "Mark room as empty?" },
                        form: { data: { turbo_stream: true } },
                        class: "btn btn-danger" do %>
                      End Tenancy
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mt-4"> 
  <%= link_to "New Tenancy", new_tenancy_path, data: { turbo_frame: "modal" }, class: "inline-block px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700" %>
</div>


