<div class="space-y-5 sm:space-y-6">
  <div class="border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
    <div class="px-5 py-4 sm:px-6 sm:py-5">
        <h1 class="text-lg font-semibold text-gray-800 dark:text-black/90">
            Tenancies
        </h1>
    </div>
    <div class="border-t border-gray-100 p-5 sm:p-6 dark:border-gray-800">
      <div class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
        <div class="max-w-full overflow-x-auto custom-scrollbar">
          <table class="w-full min-w-[1102px]">
            <thead class="bg-gray-100">
              <tr class="border-b border-gray-100 dark:border-gray-800">
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Room</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Tenant</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Start Date</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">End Date</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Comments</p></th>
                <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs dark:text-black-400">Actions</p></th>
              </tr>
            </thead>

            <tbody>
              <% @rooms.each do |room| %>
                <% active_tenancy = room.tenancies.find_by(is_active: true) %>
                <% if active_tenancy %>
                  <tr class="border-b border-gray-100 dark:border-gray-800" id="<%= dom_id(active_tenancy) %>">
                    <td class="px-5 py-4 sm:px-6"><%=active_tenancy.room.name %></td>
                    <td class="px-5 py-4 sm:px-6"><%= active_tenancy.user.name %></td>
                    <td class="px-5 py-4 sm:px-6"><%= l(active_tenancy.start_date) %></td>
                    <td class="px-5 py-4 sm:px-6"><%= l(active_tenancy.end_date) %></td>
                    <td class="px-5 py-4 sm:px-6"><%= active_tenancy.comments %></td>
                    <td class="px-5 py-4 sm:px-6 space-x-2">
                        <%= link_to "Show", active_tenancy, class: "text-blue-600 hover:underline" %>
                        <%= link_to "Edit", edit_tenancy_path(active_tenancy), class: "text-yellow-600 hover:underline" %>    
                        <%= button_to tenancy_path(active_tenancy), method: :delete,
                          data: { turbo_confirm: "Mark room as empty?" },
                          form: { data: { turbo_stream: true } },
                          class: "text-white bg-red-400 dark:bg-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center" do %>
                        End Tenancy
                        <% end %>
                    </td>
                  </tr>
                <% else %>
                  <tr class="border-b border-gray-100 dark:border-gray-800" id="#">
                    <td class="px-5 py-4 sm:px-6"><%= room.name %></td>
                    <td class="px-5 py-4 sm:px-6">Empty</td>
                    <td class="px-5 py-4 sm:px-6">Empty</td>
                    <td class="px-5 py-4 sm:px-6">Empty</td>
                    <td class="px-5 py-4 sm:px-6">Empty</td>
                    <td class="px-5 py-4 sm:px-6 space-x-2"></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mt-4"> 
  <%= link_to "New Tenancy", new_tenancy_path, data: { turbo_frame: "modal" }, class: "inline-block px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700" %>
</div>


