<h1 class="text-lg font-semibold text-gray-800 dark:text-black/90 mb-10">Users</h1>
<div class="border border-gray-200 bg-white rounded-xl overflow-hidden">
  <div class="max-w-full overflow-x-auto custom-scrollbar">
    <table class="w-full min-w-[900px]">
      <thead class="bg-gray-100">
        <tr class="border-b border-gray-100">
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">First Name</p></th>
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Last Name</p></th>
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Email</p></th>
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Phone Number</p></th>
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Parent's Name</p></th>
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Parent's Phone Number</p></th>
          <th class="px-5 py-3 text-left sm:px-6"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="border-b border-gray-100">
            <td class="px-5 py-4 sm:px-6"><%= user.first_name %></td>
            <td class="px-5 py-4 sm:px-6"><%= user.last_name %></td>
            <td class="px-5 py-4 sm:px-6"><%= user.email_address %></td>
            <td class="px-5 py-4 sm:px-6"><%= user.phone_number %></td>
            <td class="px-5 py-4 sm:px-6"><%= user.parent_name %></td>
            <td class="px-5 py-4 sm:px-6"><%= user.parent_phone_number %></td>
            <td class="px-5 py-4 sm:px-6 flex space-x-2">
              <%= link_to 'Edit', edit_user_path(user), class: "text-blue-600 hover:underline" %>
              <%= button_to 'Delete', user_path(user), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "text-red-600 hover:underline" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>