<div class="mt-24">
  <div class="max-w-2xl mx-auto md:w-2/3 w-full">
    <div class="px-6 py-4 border border-gray-300 rounded-xl">
      <h1 class="font-bold text-2xl">New User</h1>

      <%= form_with url: registrations_url, model: @user, method: :post, class: "shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>
        <div class="my-5">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block shadow rounded-md border border-gray-400 focus:outline-orange-600 px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="my-5">
          <%= form.text_field :first_name, required: true, autofocus: true, autocomplete: "First Name", placeholder: "Enter your first name", value: params[:first_name], class: "block shadow rounded-md border border-gray-400 focus:outline-orange-600 px-3 py-2 mt-2 w-full" %>
        </div>

        <div class="my-5">
          <%= form.text_field :last_name, required: true, autofocus: true, autocomplete: "Last Name", placeholder: "Enter your last name", value: params[:last_name], class: "block shadow rounded-md border border-gray-400 focus:outline-orange-600 px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
          <div class="flex w-full items-center justify-between">
            <div class="inline">
              <%= form.submit "Sign up", class: "rounded-lg py-2 px-6 bg-yellow-800 text-white inline-block font-medium cursor-pointer" %>
            </div>
            <div class="mt-4 text-sm text-gray-500 sm:mt-0">
              <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>