<h1 class="mt-2 text-4xl tracking-tight sm:text-4xl text-pretty">Tenancy Snapshot</h1>

<div class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-white-100 dark:bg-white-800 dark:border-gray-700">
    <h2 class="text-2xl font-bold mb-3">Empty Rooms</h2>
    <ul>
    <% @vacant_rooms.each do |room| %>
        <li>
        <strong> <%= room.name %> </strong><br>
        </li>
    <% end %>
    </ul>
</div>

<br>
<br>
<div class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-white-100 dark:bg-white-800 dark:border-gray-700">
    <h2 class="text-2xl font-bold mb-3">Out Dated Tenancies</h2>

    <div class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
      <div class="max-w-full overflow-x-auto custom-scrollbar">
        <table class="w-full min-w-[1102px]">
          <thead class="bg-gray-100">
            <tr class="border-b border-gray-100">
              <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Room</p></th>
              <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Tenant</p></th>
              <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Start Date</p></th>
              <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">End Date</p></th>
              <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Comments</p></th>
            </tr>
          </thead>
          <tbody>
            <% if @active_tenancies_with_expired_rents.nil? %>
              <tr class="border-b border-gray-100">
                <td colspan="5" class="px-5 py-4 sm:px-6 text-center">No tenancies with expired rent</td>
              </tr> 
            <% else %>
              <% @active_tenancies_with_expired_rents.each do |tenancy| %>
                <tr class="border-b border-gray-100">
                  <td class="px-5 py-4 sm:px-6"><%= tenancy.room.name %></td>
                  <td class="px-5 py-4 sm:px-6"><%= tenancy.user.name %></td>
                  <td class="px-5 py-4 sm:px-6"><%= l(tenancy.start_date) %></td>
                  <td class="px-5 py-4 sm:px-6"><%= l(tenancy.end_date) %></td>
                  <td class="px-5 py-4 sm:px-6"><%= tenancy.comments %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>