<% content_for :title, "Showing room" %>

  <h1 class="font-bold text-4xl">Showing room</h1>

  <%= render @room %>

  <h1 class="text-2xl font-bold mb-4">Tenancies</h1>


<div class="border border-gray-200 bg-white rounded-xl overflow-hidden mt-4">
  <div class="max-w-full overflow-x-auto custom-scrollbar">
    <table class="w-full min-w-[700px]">
      <thead class="bg-gray-100">
        <tr class="border-b border-gray-100">
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Tenant</p></th>
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Start Date</p></th>
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">End Date</p></th>
          <th class="px-5 py-3 text-left sm:px-6"><p class="font-medium text-black-500 text-theme-xs">Comments</p></th>
        </tr>
      </thead>
      <tbody>
        <% @room.tenancies.order(end_date: :desc).each do |tenancy| %>
          <tr class="border-b border-gray-100">
            <td class="px-5 py-4 sm:px-6"><%= tenancy.user&.name %></td>
            <td class="px-5 py-4 sm:px-6"><%= l(tenancy.start_date) %></td>
            <td class="px-5 py-4 sm:px-6"><%= l(tenancy.end_date) %></td>
            <td class="px-5 py-4 sm:px-6"><%= tenancy.comments %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <%= link_to "Edit this room", edit_room_path(@room), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to rooms", rooms_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= button_to "Destroy this room", @room, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
